body {
  background-color: rgb(253, 252, 240);
}
.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  align-content: center;
  text-align: center;
}
#menu {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #fef7dd;
  align-content: center;
  text-align: center;
}

#menu ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  list-style-type: none;
  align-content: center;
}

#menu li {
  text-justify: auto;
  text-align: center;
}

#menu a {
  border-radius: 10px;
  line-height: 50px;
  color: rgb(34, 34, 34);
  text-decoration: none;
  display: block;
  border-right: 1px white solid;
  padding-right: 30px;
  padding-left: 30px;
  transition: background-color 0.5s ease; /* Thêm hiệu ứng chuyển màu chậm */
}

#menu a:hover {
  background-color: red;
  color: bisque;
}
.wrapper a:hover {
  color: coral;
}

#menu input {
  margin: 6px 10px;
  border-radius: 5px;
}
