body {
  background-color: rgb(253, 252, 240);
}
.movie-item {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #fff;
}

.movie-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item input[type="radio"] {
  margin-right: 15px;
  transform: scale(1.2);
}

.movie-item label {
  font-size: 1.2rem;
  color: #555;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 0;
  font-size: 1.2rem;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.05);
}

.btn-block {
  display: block;
  width: 100%;
}

card {
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  padding: 20px;
}

.card-title {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.list-group-item {
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.movie-info,
.ticket-info {
  margin-bottom: 20px;
}
.card .list-group-item p {
  margin: 0;
  padding: 5px 0;
  font-size: 1.1rem;
  color: #555;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
  transform: scale(1.05);
}
.tb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_back {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn_back :hover {
  background-color: #5a6268;
  border-color: #545b62;
  transform: scale(1.05);
}
.form-check {
  border: 1px solid rgb(148, 144, 144);
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
}
.btn-s {
  border-radius: 0px;
  padding: 6px;
  border-radius: 5px;
}
